// --------
// Susy settings
// --------
$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: auto,
  container-position: center,
  columns: 4,
  gutters: .25,
  column-width: false,
  global-box-sizing: content-box,
  last-flow: to,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);

// Breakpoint settings
$breakpoint-width: 960px;

// --------
// Compass Vertical Rhythm Settings
// --------
$base-font-size: 13px;
$base-line-height: 16px;
$rhythm-unit: "rem";
$rem-with-px-fallback: false;

// --------
// App settings
// --------
$base-font-family: Georgia, Garamond, "Times New Roman", Times, serif;
$base-font-weight: 400;
$base-font-color: #444;

$h1-font-size: 3.7 * $base-font-size;
$h2-font-size: 1.5 * $base-font-size;
$h3-font-size: 1.2 * $base-font-size;
$h4-font-size: 1.2 * $base-font-size;
$h5-font-size: 1 * $base-font-size;

$body-bg: #393939 inline-image("body-bg.png") repeat fixed;