@import "cv/settings";

@import "compass";
@import "susy";
@import "breakpoint";
@import "cv/functions";

body {
  background: #fff;
  margin: 0;
}

.container {
  @include box-shadow(none);
  width: auto;
  max-width: 100%;
  padding: 0;
  margin: 0;
  background: #ffffff;
  border: 0;
}

a[href] {
  color: $base-font-color;
  text-decoration: none;
}