/* line 5, ../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/components/_base.scss */
body {
  background: #333577;
  margin: 0;
  font: 16px Helvetica, Arial;
}

/* line 1, ../sass/components/_type.scss */
h1, h2, h3, h4, p {
  margin: 0 0 10px 0;
}

/* line 5, ../sass/components/_type.scss */
h1 {
  font-size: 22px;
  font-weight: bold;
}

/* line 11, ../sass/components/_type.scss */
p:last-child {
  margin: 0;
}

/* line 16, ../sass/components/_type.scss */
a {
  color: #A8A9CC;
  text-decoration: underline;
}
/* line 19, ../sass/components/_type.scss */
a:hover {
  color: #535595;
}
/* line 22, ../sass/components/_type.scss */
a:after {
  content: "\00a0\00bb";
}

/* line 1, ../sass/components/_lists.scss */
ul {
  margin-bottom: 20px;
}
/* line 3, ../sass/components/_lists.scss */
ul ul {
  margin-bottom: 0;
}
/* line 6, ../sass/components/_lists.scss */
ul:last-child {
  margin-bottom: 0;
}

/* line 11, ../sass/components/_lists.scss */
li {
  list-style-type: disc;
  margin: 2px 0 2px 20px;
}

/* line 1, ../sass/components/_boxes.scss */
.box {
  background: #1A1B59;
  margin: 0 auto 20px auto;
  color: #A8A9CC;
  padding: 20px;
}
/* line 6, ../sass/components/_boxes.scss */
.box .read-more {
  background: #0A0C39;
  margin: 0 -20px -20px -20px;
  padding: 20px;
}

/* line 13, ../sass/components/_boxes.scss */
.container {
  *zoom: 1;
  max-width: 900px;
  margin: 0 auto 20px auto;
}
/* line 38, ../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 1, ../sass/components/_nav.scss */
.nav {
  background: #0A0C39;
  margin-bottom: 40px;
  padding: 20px;
}
/* line 5, ../sass/components/_nav.scss */
.nav li {
  float: left;
  list-style: none;
  margin-left: 0;
}
/* line 9, ../sass/components/_nav.scss */
.nav li a {
  padding: 0 20px 0 0;
}
