<% include partials/head %>
  <body>
    <div class="container">
      <% include partials/header %>
      <section class="section profile">
        <h2>Profile</h2>
        <div class="content-block">
          <p>
            A web developer with more than 7 years of commercial web development experience.
          </p>
        </div>
      </section>
      <section class="section career-objective">
        <h2>Career Objective</h2>
        <div class="content-block">
          <p>
            A JavaScript developer, either front-end or full-stack, working on exciting projects using the latest technologies to create useful and accessible
            web applications.
          </p>
        </div>
      </section>
      <section class="section skills">
        <h2>Core Skills / Technologies</h2>
        <section class="content-block">
          <h3>Front-end Development</h3>
          <ul>
            <li>JavaScript (ES5)</li>
            <li>HTML(5)</li>
            <li>CSS(3)</li>
            <li>Sass</li>
            <li>Build tools (Grunt etc)</li>
            <li>Accessibility / Web Standards / SEO</li>
            <li>Cross browser knowledge</li>
            <li>Responsive layouts</li>
            <li>Adobe Suite</li>
            <li>Unit / Integration Testing</li>
          </ul>
        </section>
        <section class="content-block">
          <h3>Back-end Development</h3>
          <ul>
            <li>GNU/Linux</li>
            <li>Node.js</li>
            <li>PHP</li>
            <li>SQL</li>
            <li>Git / Subversion</li>
            <li>Apache / Nginx</li>
            <li>Bash Scripting</li>
            <li>Unit / Integration Testing</li>
          </ul>
        </section>
        <section class="content-block">
          <h3>General / Personal</h3>
          <ul>
            <li>Agile / Scrum / Waterfall</li>
            <li>Peer programming</li>
            <li>Team player</li>
            <li>Passionate</li>
            <li>Open Source contributer</li>
          </ul>
        </section>
      </section>
      <section class="section frameworks">
        <h2>Libaries / Frameworks / Concepts</h2>
        <section class="content-block">
          <h3>Front-end Development</h3>
          <ul>
            <li>jQuery</li>
            <li>KnockoutJS</li>
            <li>AngularJS</li>
            <li>OOP / MVC / MVVM</li>
            <li>Compass / Foundation / Susy / Bootstrap</li>
            <li>Jasmine / Mocha / SinonJS / PhantomJS</li>
            <li>Web Components / Polymer</li>
            <li>Sencha Touch</li>
          </ul>
        </section>
        <section class="content-block">
          <h3>Back-end development</h3>
          <ul>
            <li>Express.js</li>
            <li>Kohana</li>
            <li>Dev Ops / System Administration</li>
            <li>Linux Containers (LXC / Docker)</li>
            <li>Vagrant / Puppet / Jenkins / Capistrano / Nagios</li>
            <li>Command line developer when required (Vim)</li>
          </ul>
        </section>
        <section class="content-block">
          <h3>General</h3>
          <ul>
            <li>Cross-platform competent (OSX, GNU/Linux, Windows)</li>
            <li>Ubuntu (Desktop &amp; Server)</li>
          </ul>
        </section>
      </section>
      <section class="section experience list">
        <h2>Experience</h2>
        <section class="content-block">
          <header class="header">
            <div class="overview">
              <h3 class="company">Proxima Web Ltd</h3>
              <p class="title">Director</p>
            </div>
            <div class="date">
              July 2013 &ndash; Present
            </div>
          </header>
          <p>Managing my own successful web development company; managing accounts and servers.</p>
        </section>
        <section class="content-block">
          <header class="header">
            <div class="overview">
              <h3 class="company">OpenEyes Foundation</h3>
              <p class="title">User Interface Developer</p>
            </div>
            <div class="date">
              July 2013 &ndash; October 2014
            </div>
          </header>
          <p>
            Full stack development (although mostly front-end work); re-architect
            the front-end to be maintainable and accessible; helping with back-end
            tasks when required.
          </p>
          <p>
            Towards the end of my contract I was part of a POC team and delivered
            a SPA using AngularJS with a Scala HTTP REST API.
          </p>
        </section>
        <section class="content-block">
          <header class="header">
            <div class="overview">
              <h3 class="company">Possible Worldwide</h3>
              <p class="title">Principle User Interface developer</p>
            </div>
            <div class="date">
              September 2012 &ndash; June 2013
            </div>
          </header>
          <p>
            Leading the front-end development on various high profile websites,
            using some of the latest technologies at the time; working
            with .NET solutions; sharing my knowledge and skills with my
            colleagues and always available to help and offer advice.
          </p>
        </section>
        <section class="content-block">
          <header class="header">
            <div class="overview">
              <h3 class="company">Fortune Cookie</h3>
              <p class="title">User Interface developer</p>
            </div>
            <div class="date">
              September 2010 &ndash; August 2012
            </div>
          </header>
          <p>Creating cross-browser user interfaces; integration into .NET solutions.</p>
        </section>
        <section class="content-block">
          <header class="header">
            <div class="overview">
              <h3 class="company">Hoop Associates</h3>
              <p class="title">Deputy development team manager</p>
            </div>
            <div class="date">
              August 2009 &ndash; August 2010
            </div>
          </header>
          <p>Full stack development; managing a small development team.</p>
        </section>
        <section class="content-block">
          <header class="header">
            <div class="overview">
              <h3 class="company">Hoop Associates</h3>
              <p class="title">Web Developer</p>
            </div>
            <div class="date">
              February 2008 &ndash; August 2009
            </div>
          </header>
          <p>
            Full stack development; developing an in-house CMS and creating
            usable websites. I was part of the full life-cycle, including UX,
            Design, Development &amp; Dev Ops.
          </p>
        </section>
        <section class="content-block">
          <header class="header">
            <div class="overview">
              <h3 class="company">Franz du Plessis Advertising and Design</h3>
              <p class="title">Web Developer</p>
            </div>
            <div class="date">
              February 2007 &ndash; December 2007
            </div>
          </header>
          <p>
            Full stack development; creating custom web solutions including
            in-house bulk emailing system and a race results management system.
          </p>
        </section>
        <section class="content-block">
          <header class="header">
            <div class="overview">
              <h3 class="company">NHS Trust Recruitment Campaigns Team </h3>
              <p class="title">Human Resources Assistant</p>
            </div>
            <div class="date">
              February 2005 &ndash; December 2005
            </div>
          </header>
          <p>
            Carry out the specifications of the HR Recruitment Procedures.
          </p>
          <p>
            I came on-board as a temp and quickly realized the scale of my
            responsibilities. I treated it as a challenge and was able to understand
            and improve on the various HR processes. I created a
            "process &amp; guidelines" document which I believe is still in use
            today.
          </p>
        </section>
        <section class="content-block">
          <header class="header">
            <div class="overview">
              <h3 class="company">CSIR (Council for Scientific and Industrial Research)</h3>
              <p class="title">Data Capturer / Content Editor</p>
            </div>
            <div class="date">
              January 2002 &ndash; January 2003
            </div>
          </header>
          <p>
            Migrating hard-copy reports into a mining portal system; minor development
            tasks on the portal; creating micro-sites for the company intra-net.
          </p>
        </section>
      </section>
      <section class="section profile">
        <h2>References</h2>
        <div class="content-block">
          <p>
            References are available on request.
          </p>
        </div>
      </section>
       <section class="section education list">
        <h2>Education / Qualifications</h2>
        <section class="content-block">
          <header class="header">
            <div class="overview">
              <h3 class="company">Computer Training Institute</h3>
              <p class="title">IS - Software Development</p>
            </div>
            <div class="date">
              January 2006 &ndash; January 2007
            </div>
          </header>
          <p>
            BTEC Higher National Diploma in Computing (Software Development)
          </p>
          <p>
            I majored in C# and achieved a distinction, with a 83% final average
            and a 100% pass of my final Java practical exam.
          </p>
        </section>
        <section class="content-block">
          <header class="header">
            <div class="overview">
              <h3 class="company">St David’s Marist Brothers</h3>
              <p class="title">High-School - Matriculation (Grade 12)</p>
            </div>
            <div class="date">
              January 1994 &ndash; December 2001
            </div>
          </header>
          <p>
            Subjects: Mathematics, Computer Science, Science, Geography, English, Afrikaans.
          </p>
          <p>
            I competed in the National Computer Science Olympiad in grade 11.
          </p>
        </section>
      </section>
       <section class="section profile">
        <h2>Showcase / Links</h2>
        <div class="content-block">
          <h3>Work / Portfolio</h3>
          <p>View my <a href="http://richardwillis.co">personal website</a> for examples of work I've done.</p>
          <h3>On-line Profiles:</h3>
          <ul>
            <li>
              <a href="http://github.com/badsyntax">GitHub profile</a>
            </li>
            <li>
              <a href="http://stackoverflow.com/users/492325/badsyntax">StackOverflow profile</a>
            </li>
            <li>
              <a href="http://uk.linkedin.com/in/willisrh">LinkedIn profile</a>
            </li>
          </ul>
        </div>
      </section>
      <section class="section profile">
        <h2>Hobbies / Interests</h2>
        <div class="content-block">
          <p>I enjoy keeping active and appreciate my time away from technology.</p>
          <ul>
            <li>Cycling</li>
            <li>Climbing / Bouldering</li>
            <li>Walking / Hiking</li>
            <li>Exploring</li>
            <li>Programming</li>
          </ul>
        </div>
      </section>
      <footer class="section footer">
        <p>
          Richard Willis -
          <%- link_to_if(showLinks, 'richard@proxima-web.com', 'mailto:richard@proxima-web.com') %> -
          <%- link_to_if(showLinks, 'richardwillis.co', 'http://richardwillis.co') %> -
          07954216809
        </p>
        <p>Last Updated: <%= lastUpdated %> <span class="no-print">- <a href="/cv/download">Download this CV (PDF)</a></span></p>
      </footer>
    </div>
  </body>
  </html>