<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= title %></title>
    <meta
      name="description"
      content="Personal Site of Richard Willis, Freelance Web Developer" />
    <% stylesheets.forEach(function(stylesheet) { %>
    <link rel="stylesheet" href="<%=stylesheet%>" />
    <% }); %>
  </head>
  <body>
    <div class="container">
      <header class="header">
        <div class="title">
          <h1>Richard Willis</h1>
          <h2>Freelance Web Developer</h2>
        </div>
        <ul class="contact">
          <li><a href="mailto:richard@proxima-web.com">richard@proxima-web.com</a></li>
          <li><a href="http://richardwillis.co">richardwillis.co</a></li>
          <li>07954216809</li>
          <li>London, UK</li>
        </ul>
      </header>
      <section class="section profile">
        <h2>Profile</h2>
        <div class="content-block">
          <p>
            A web developer with more than 7 years of commercial web development experience.
          </p>
        </div>
      </section>
      <section class="section career-objective">
        <h2>Career Objective</h2>
        <div class="content-block">
          <p>
            A Javascript developer working with the latest technologies to create useful and accessible
            web applications.
          </p>
        </div>
      </section>
      <section class="section skills">
        <h2>Core Skills / Technologies</h2>
        <section class="content-block">
          <h3>Front-end Development</h3>
          <ul>
            <li>Javascript (ES5)</li>
            <li>HTML(5)</li>
            <li>CSS(3)</li>
            <li>Sass</li>
            <li>Grunt/Gulp</li>
            <li>Accessibility / Web Standards / SEO</li>
            <li>Cross browser knowledge</li>
            <li>Adobe Suite</li>
            <li>Unit / Integration Testing</li>
          </ul>
        </section>
        <section class="content-block">
          <h3>Back-end Development</h3>
          <ul>
            <li>GNU/Linux</li>
            <li>Node.js</li>
            <li>PHP</li>
            <li>SQL</li>
            <li>Git / Subversion</li>
            <li>Apache / Nginx</li>
            <li>Bash Scripting</li>
            <li>Unit / Integration Testing</li>
          </ul>
        </section>
        <section class="content-block">
          <h3>General / Personal</h3>
          <ul>
            <li>Agile / Scrum / Waterfall</li>
            <li>Peer programming</li>
            <li>Team player</li>
            <li>Passionate</li>
            <li>Open Source contributer</li>
          </ul>
        </section>
      </section>
      <section class="section frameworks">
        <h2>Libaries / Frameworks / Concepts</h2>
        <section class="content-block">
          <h3>Front-end Development</h3>
          <ul>
            <li>jQuery</li>
            <li>AngularJS</li>
            <li>OOP / MVC / MVVM</li>
            <li>Compass / Foundation / Susy / Bootstrap</li>
            <li>Jasmine / Mocha / SinonJS / PhantomJS</li>
            <li>Web Components / Polymer</li>
            <li>Sencha Touch</li>
          </ul>
        </section>
        <section class="content-block">
          <h3>Back-end development</h3>
          <ul>
            <li>Express.js</li>
            <li>Kohana</li>
            <li>Dev Ops / System Administration</li>
            <li>Linux Containers (LXC / Docker)</li>
            <li>Vagrant / Puppet / Jenkins / Capistrano / Nagios</li>
            <li>Command line developer when required (Vim)</li>
          </ul>
        </section>
        <section class="content-block">
          <h3>General</h3>
          <ul>
            <li>Cross-platform competent (OSX, GNU/Linux, Windows)</li>
            <li>Ubuntu (Desktop &amp; Server)</li>
          </ul>
        </section>
      </section>
      <section class="section experience list">
        <h2>Experience</h2>
        <section class="content-block">
          <header class="header">
            <div class="job-company-title">
              <h3>Proxima Web Ltd</h3>
              <h4>Director</h4>
            </div>
            <div class="date">
              <h5>July 2013 – Present</h5>
            </div>
          </header>
          <p>Managing a small web development company; managing accounts and servers.</p>
        </section>
        <section class="content-block">
          <header class="header">
            <div class="job-company-title">
              <h3>OpenEyes Foundation</h3>
              <h4>User Interface Developer</h4>
            </div>
            <div class="date">
              <h5>July 2013 – Present</h5>
            </div>
          </header>
          <p>
            Full stack development (although mostly front-end work); re-architect
            the front-end to be maintainable and accessible; helping with back-end
            tasks when required.
          </p>
          <p>
            Towards the end of my contract I was part of a POC team and delivered
            a SPA using AngularJS with a Scala HTTP REST API.
          </p>
        </section>
        <section class="content-block">
          <header class="header">
            <div class="job-company-title">
              <h3>Possible Worldwide</h3>
              <h4>Principle User Interface developer</h4>
            </div>
            <div class="date">
              <h5>September 2012 – July 2013</h5>
            </div>
          </header>
          <p>
            Leading the front-end development on various high profile websites,
            using some of the latest technologies at the time; working
            with .NET solutions; sharing my knowledge and skills with my
            colleauges and always available to help and offer advice.
          </p>
        </section>
        <section class="content-block">
          <header class="header">
            <div class="job-company-title">
              <h3>Fortune Cookie</h3>
              <h4>User Interface developer</h4>
            </div>
            <div class="date">
              <h5>September 2010 – August 2012</h5>
            </div>
          </header>
          <p>Creating cross-browser user interfaces; integration into .NET solutions.</p>
        </section>
        <section class="content-block">
          <header class="header">
            <div class="job-company-title">
              <h3>Hoop Associates</h3>
              <h4>Deputy development team manager</h4>
            </div>
            <div class="date">
              <h5>August 2009 – September 2010</h5>
            </div>
          </header>
          <p>Full stack development; managing a small development team.</p>
        </section>
        <section class="content-block">
          <header class="header">
            <div class="job-company-title">
              <h3>Hoop Associates</h3>
              <h4>Web Developer</h4>
            </div>
            <div class="date">
              <h5>February 2008 – August 2009</h5>
            </div>
          </header>
          <p>
            Full stack development; developing an in-house CMS and creating
            usable websites. I was part of the full life-cycle, including UX,
            Design, Development &amp; Dev Ops.
          </p>
        </section>
        <section class="content-block">
          <header class="header">
            <div class="job-company-title">
              <h3>Franz du Plessis Advertising and Design</h3>
              <h4>Web Developer</h4>
            </div>
            <div class="date">
              <h5>February 2007 – December 2007</h5>
            </div>
          </header>
          <p>
            Full stack development; creating custom web solutions including
            in-house bulk emailing system and a race results management system.
          </p>
        </section>
        <section class="content-block">
          <header class="header">
            <div class="job-company-title">
              <h3>NHS Trust Recruitment Campaigns Team </h3>
              <h4>Human Resources Assistant</h4>
            </div>
            <div class="date">
              <h5>February 2005 – December 2005</h5>
            </div>
          </header>
          <p>
            Carry out the specifications of the HR Recruitment Procedures.
          </p>
          <p>
            I came on-board as a temp and quickly realised the scale of my
            responsibilities. I treated it as a challenge and was able to understand
            and improve on the various HR processes. Before I left I created a
            "process &amp; guidelines" document which I believe is still in use
            today. The best part of this role was getting personal thanks from
            the nurses for helping them through a convoluted system.
          </p>
        </section>
        <section class="content-block">
          <header class="header">
            <div class="job-company-title">
              <h3>CSIR (Council for Scientific and Industrial Research)</h3>
              <h4>Data Capturer / Content Editor</h4>
            </div>
            <div class="date">
              <h5>January 2002 – January 2003 (1 year)</h5>
            </div>
          </header>
          <p>
            Migrating hard-copy reports into a mining portal system; minor development
            tasks on the portal; creating micro-sites for the company intra-net.
          </p>
        </section>
      </section>
      <section class="section profile">
        <h2>References</h2>
        <div class="content-block">
          <p>
            References are available on request.
          </p>
        </div>
      </section>
       <section class="section education list">
        <h2>Education / Qualifications</h2>
        <section class="content-block">
          <header class="header">
            <div class="job-company-title">
              <h3>Computer Training Institute</h3>
              <h4>IS - Software Development</h4>
            </div>
            <div class="date">
              <h5>January 2006 – January 2007</h5>
            </div>
          </header>
          <p>
            BTEC Higher National Diploma in Computing (Software Development)
          </p>
          <p>
            I majored in C# and achieved a distinction, with a 83% final average
            and a 100% pass of my final Java practical exam.
          </p>
        </section>
        <section class="content-block">
          <header class="header">
            <div class="job-company-title">
              <h3>St David’s Marist Brothers</h3>
              <h4>High-School - Matriculation (Grade 12)</h4>
            </div>
            <div class="date">
              <h5>January 1994 – December 2001</h5>
            </div>
          </header>
          <p>
            Subjects: Mathematics, Computer Science, Science, Geography, English, Afrikaans.
          </p>
          <p>
            I competed in the National Computer Science Olympiad in grade 11.
          </p>
        </section>
      </section>
       <section class="section profile">
        <h2>Showcase / Links</h2>
        <div class="content-block">
          <h3>Work / Portfolio</h3>
          <p>View my <a href="#">personal website</a> for examples of work I've done.</p>
          <h3>Online Profiles:</h3>
          <ul>
            <li>
              <a href="http://github.com/badsyntax">GitHub profile</a>
            </li>
            <li>
              <a href="http://stackoverflow.com/users/492325/badsyntax">StackOverflow profile</a>.
            </li>
            <li>
              <a href="http://uk.linkedin.com/in/b4d5ynt4x/">LinkedIn profile</a>
            </li>
          </ul>
        </div>
      </section>
      <section class="section profile">
        <h2>Hobbies / Interests</h2>
        <div class="content-block">
          <p>I enjoy keeping active and appreciated my time away from the computer.</p>
          <ul>
            <li><a href="#">Cycling</a></li>
            <li><a href="#">Climbing / Bouldering</a></li>
            <li><a href="#">Walking / Hiking</a></li>
            <li><a href="#">Exploring</a></li>
            <li>Programming</li>
          </ul>
        </div>
      </section>
      <footer class="section footer">
        <p>
          Richard Willis -
          <a href="mailto:richard@proxima-web.com">richard@proxima-web.com</a> -
          <a href="http://richardwillis.co">richardwillis.co</a> - 07954216809
        </p>
        <p>Last Updated: </p>
      </footer>
    </div>
  </body>
  </html>