<% include partials/head %>
  <body>
    <div class="container">
      <% include partials/header %>
      <nav class="nav">
        <ul>
          <li>
            <a href="/showcase">Showcase &raquo;</a>
          </li>
          <li>
            <a href="/cv">CV &raquo;</a>
          </li>
        </ul>
      </nav>
    </div>
  </body>
</html>