// --------
// Susy settings
// --------
// $susy: (
//   columns: 12,
//   gutters: .25,
//   container: 960px
// );

$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: auto,
  container-position: center,
  columns: 4,
  gutters: .25,
  column-width: false,
  global-box-sizing: content-box,
  last-flow: to,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);

// --------
// Compass Vertical Rhythm Settings
// --------
$base-font-size: 16px;
$base-line-height: 20px;
$rhythm-unit: "em";

// --------
// App settings
// --------
$app-base-font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$app-base-font-weight: 400;
$app-base-font-color: #303033;
$app-margin: 20px;