#{headings(all)} {
  color: #333;
  font-weight: normal;
}

#{headings(2)} {
  text-transform: uppercase;
}

h2 {
  font-style: italic;
}

a {
  color: #990003;
}

p, li {
  @include adjust-font-size-to($base-font-size * 1.2, 1.2);
}