
.features {
  padding: 0;
  li {
    list-style: none;
    @include span(1 of 5);
    &:last-child {
      @include span(last);
    }
  }
  a {
    @extend .box;
    display: table;
    width: 100%;
    height: 100px;
    text-align: center;
    span {
      display: table-cell;
      vertical-align: middle;
    }
    &:hover {
      @extend a:hover;
    }
  }
}