h1, h2, h3, h4, p {
  margin: 0 0 10px 0;
}

h1 {
  font-size: 22px;
  font-weight: bold;
}

p {
  &:last-child {
    margin: 0;
  }
}

a {
  color: #A8A9CC;
  text-decoration: underline;
  &:hover {
    color: #535595;
  }
}