@include border-box-sizing;

html, body {
  min-height: 100%;
}

html {
  @media print {
    font-size: 10px;
  }
}

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  margin: 0;

  @include breakpoint($breakpoint-small-width) {
    padding: 20px;
  }

  @include breakpoint($breakpoint-medium-width) {
    padding: 40px;
  }

  @media print {
    background: #fff;
    padding: 0;
  }
}
