.container {
  @include container(960px);
  @include box-shadow(0 1px 3px #000);
  background: #f5f5f5;
  border-width: 8px 0 2px 0;
  border: solid #666;
  margin-bottom: 70px;
  margin-top: 70px;
  padding: 10px 60px;
  @media print {
    @include box-shadow(none);
    background: #ffffff;
    border: 0;
    margin: 0;
    max-width: 100%;
    padding: 0;
    width: auto;
  }
}

.section {
  @include clearfix;
  @include trailer(1.5, $base-font-size, padding);
  @include leader(1.5, $base-font-size, padding);
  border-top: 1px solid #ccc;
  #{headings(5)} {
    @include trailer(1);
    @include breakpoint($breakpoint-width) {
      @include trailer(0);
    }
  }
  h2 {
    @include adjust-font-size-to($h2-font-size, 1.4);
    @include breakpoint($breakpoint-width) {
      @include span(3 of 12);
      @include trailer(0);
    }
  }
  .content-block {
    @include breakpoint($breakpoint-width) {
      @include span(9 of 12 last);
    }
    h3 {
      @include adjust-font-size-to($h3-font-size, 1.2);
      color: #000;
    }
    p {
      @include adjust-font-size-to($base-font-size * 1.2, 1.2);
      margin-bottom: pxToRem($base-font-size * 1.2);
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    .header {
      @include clearfix;
    }
  }
  &.skills, &.frameworks {
    .content-block {
      @include breakpoint($breakpoint-width) {
        @include span(3 of 12);
        &:last-child {
          @include span(3 of 12 last);
        }
      }
    }
  }
  &.agency-work {
    ul {
      @include span(6 of 12);
      margin-top: 0;
      margin-bottom: 0;
      &:last-child {
        @include span(6 of 12 last);
      }
    }
  }
  &.list {
    .content-block {
      @include trailer(1.2, $base-font-size, padding);
      @include trailer(1.2, $base-font-size, margin);
      border-bottom: 1px solid #ccc;
      &:last-child {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
    .header {
      margin: 0;
      padding: 0;
    }
    .overview {
      @include span(8 of 12);
    }
    .title {
      @include adjust-font-size-to($h4-font-size, 1.2);
      font-style: italic;
      margin: 0;
      text-transform: none;
    }
    .date {
      @include span(4 of 12 last);
      text-align: right;
    }
    &.projects {
      .overview {
        @include span(12 of 12);
        float: none;
      }
      .description, .repo {
        @extend .title;
      }
    }
  }
}