#{headings(all)} {
  color: #333;
  font-weight: normal;
}

#{headings(2)} {
  text-transform: uppercase;
}

a {
  color: #990003;
  transition: color 0.2s ease-in-out;

  &[href] {
    @media print {
      text-decoration: none;
    }
  }

  &:hover {
    color: #5C0002;
  }
}

p, li {
  @include adjust-font-size-to($base-font-size * 1.2, 1.2);
}